:root {
    --white: #f0f9ff;
    --grey: #e5e7eb;
    --primary: #134e4a;
    --secondary: #0f766e;
}
* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 100px 1fr;
}

header {
    grid-area: 1 / 2 / span 1 / span 1;
    height: 100%;
    background-color: var(--white);
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 60px;
    margin: 0;
    padding: 0 40px;
}
#profile-cont {
    display: flex;
    align-items: center;
    gap: 35px;
}
#search {
    display: flex;
    justify-content: left;
    gap: 15px;
    width: 100%;
}
#search-input {
    appearance: none;
    border: none;
    width: 100%;
    min-width: 200px;
    max-width: 600px;
    font-size: 1.2rem;
    background-color: var(--grey);
    border-radius: 30px;
    padding: 10px 25px;
}
#btns-cont {
    display: flex;
    gap: 20px;
}
.edit-btns {
    font-size: 1.3rem;
    background-color: var(--secondary);
    width: 100px;
    border-radius: 20px;
    color: var(--white);
    font-weight: 600;
}

#sidebar {
    grid-area: 1 / 1 / span 2 / span 1;
    height: 100%;
    background-color: var(--primary);
    color: var(--white);
    display: grid;
    justify-content: center;
    align-content: flex-start;
    gap: 100px;
}
.nav-cont {
    margin: 24px;
}
.nav-list {
    display: grid;
    gap: 30px;
    height: 100%;
}
.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-text {
    display: none;
}
#title-icon {
    width: 50px;
    height: 50px;
}
.nav-icon {
    width: 45px;
    height: 45px;
}
.highlight {
    background-color: var(--primary);
    color: var(--white);
    border-radius: 0 10px 10px 0;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding: 0;
}

main {
    grid-area: 2 / 2 / span 1 / span 1;
    height: 100%;
    background-color: var(--grey);
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.title {
    margin-bottom: 10px;
}
#projects-cont {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 40px;
}
#projects {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(autofill, 1fr);
    gap: 25px;
}
.project {
    box-shadow: 0 0 10px 0 grey;
    border-radius: 15px;
    padding: 25px;
    background-color: var(--white);
    display: flex;
}
.project-btns-cont {
    grid-area: 1 / 2 / span 1 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    margin-left: 20px;
}
.project-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
#main-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    margin: 40px 40px 40px 0;
}
.main-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
#announcments-cont {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
#announcments {
    background-color: var(--white);
    box-shadow: 0 0 10px 0 grey;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.announcment {
    border-bottom: 2px solid var(--grey);
    padding: 20px;
}
#announcments :last-child, #trending :last-child {
    border: 0;
}
#trending-cont {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
#trending {
    background-color: var(--white);
    box-shadow: 0 0 10px 0 grey;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.trending {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    gap: 15px;
    border-bottom: 2px solid var(--grey);
    padding: 20px 0;
}
.username {
    font-weight: 700;
}
.trending-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

li {
    list-style: none;
}
a {
    transition: 300ms;
}
button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin: 0;
    height: 40px;
    transition: 300ms;
}
.project button:hover, .trending button:hover, header a:hover {
    transform: scale(1.06);
}
.project:hover {
    box-shadow: 0 0 15px 0 grey;
}
#search-input:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
#search-input:focus {
    outline: none;
}
.announcment:hover, .trending:hover {
    background-color: rgba(0, 0, 0, 0.04);
}
img {
    width: 40px;
    height: 40px;
}
p {
    line-height: 1.4rem;
}